/* Custom Font Import */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Henny+Penny&family=Outfit:wght@100..900&display=swap');

/* Custom CSS */

body {
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(281deg 100% 21%) 8%,
    hsl(304deg 100% 23%) 17%,
    hsl(319deg 100% 30%) 25%,
    hsl(329deg 100% 36%) 33%,
    hsl(336deg 100% 41%) 42%,
    hsl(346deg 83% 51%) 50%,
    hsl(3deg 95% 61%) 58%,
    hsl(17deg 100% 59%) 67%,
    hsl(30deg 100% 55%) 75%,
    hsl(40deg 100% 50%) 83%,
    hsl(48deg 100% 50%) 92%,
    hsl(55deg 100% 50%) 100%
  );
}

/* Material Override CSS */

.MuiTypography-h2 {
  font-size: 2em;
  font-weight: bold;
}

.MuiTypography-h3 {
  font-size: 1em;
}

.MuiInputBase-input {
  background-color: white;
}

.MuiCard-root {
  filter: drop-shadow(0 0 0.75rem rgb(179, 0, 255));
}

.MuiCard-root:hover {
  animation: bounce 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}