/* Custom Font Import */

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Henny+Penny&family=Outfit:wght@100..900&display=swap');

/* Custom CSS */

body {
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(281deg 100% 21%) 8%,
    hsl(304deg 100% 23%) 17%,
    hsl(319deg 100% 30%) 25%,
    hsl(329deg 100% 36%) 33%,
    hsl(336deg 100% 41%) 42%,
    hsl(346deg 83% 51%) 50%,
    hsl(3deg 95% 61%) 58%,
    hsl(17deg 100% 59%) 67%,
    hsl(30deg 100% 55%) 75%,
    hsl(40deg 100% 50%) 83%,
    hsl(48deg 100% 50%) 92%,
    hsl(55deg 100% 50%) 100%
  );
}

/* Material Override CSS */

.MuiInputBase-input {
  background-color: white;
}